{% extends "base.html" %}

{% block  body %}


<div class="event-section-one">
   <div class="event-section-one-img">
      
   </div>

   <div class="event-section-one-img">
      
   </div>
   <div class="event-section-one-img">
      
   </div>

</div>
<div class="event-right-sidebar">
<div class="event-right-sidebar-items">
   <div class="event-right-sidebar-1">
      
<table class="right-sidebar-table" border="1">
   <tr><th style="background-color:rgb(10, 30, 214); color:white;"> 3rd Veteran Cup</th></tr>

   <tr>
      <td>Event Date : May 25th,2025</td>
   </tr>
      <tr>
      <td>Winning Prize : Rs 75,000</td>
   </tr>
<tr><td>
   Second Prize : Rs 50,000
</td> 
<tr>
   <td>Venue: ABC Futsal</td>
</tr>  

<tr>

</table>
<br>
<br>
<table class="right-sidebar-table" border="1">
   <tr><th style="background-color:rgb(10, 30, 214); color:white;">BT Cup</th></tr>

   <tr>
      <td>Event Date : July 25th,2025</td>
   </tr>
      <tr>
      <td>Winning Prize : Rs 30,000</td>
   </tr>
<tr><td>
   Second Prize : Rs 15,000
</td>   
</tr>
<tr><td>
   Third Prize : Rs 5,000
</td>   
</tr>
   <td>Venue: ABC Futsal</td>
</tr>

</table>
<br><br>
<table class="right-sidebar-table" border="1" >
   <tr><th style="background-color:rgb(10, 30, 214); color:white;">9th Nimesh Memorial Futsal Cup</th></tr>

   <tr>
      <td>Event Date : November 20th,2025</td>
   </tr>
      <tr>
      <td>Winning Prize : Rs 3 Lakh</td>
   </tr>
<tr><td>
   Second Prize : Rs 1 lakh
</td>   

</tr>
<tr><td>
   Third Prize : Rs 50,000
</td>
</tr>
<td>Venue: ABC Futsal</td>  
</tr>




</table>

<table class="right-sidebar-table" border="1" >
   <tr><th style="background-color:rgb(10, 30, 214); color:white;">5th Suman Memorial Futsal League</th></tr>

   <tr>
      <td>Event Date : November 25th,2025</td>
   </tr>
      <tr>
      <td>Winning Prize : Rs 3 Lakh</td>
   </tr>
<tr><td>
   Second Prize : Rs 1 lakh
</td>   
</tr>
<tr><td>
   Third Prize : Rs 50,000
</td> 
</tr>
   <td>Venue: ABC futsal</td>  

<tr>

</table>

</div>
</div>
</div>
    {% endblock body %}